/Neac.Api/bin/**
/Neac.Api/obj/**
/Neac.Api/Neac.csproj.user
/Neac.Api/Properties/PublishProfiles/**
/Neac.BusinessLogic/bin/**
/Neac.BusinessLogic/obj/**
/Neac.BusinessLogic/obj/Debug/net5.0/**
/Neac.Common/bin
/Neac.Common/obj
/Neac.DataAccess/bin
/Neac.DataAccess/obj
/Neac/.vs/Neac/v16
Neac.BusinessLogic/obj/Debug/net5.0/Neac.BusinessLogic.csprojAssemblyReference.cache
Neac/.vs/Neac/DesignTimeBuild/.dtbcache.v2
Neac.BusinessLogic/obj/Debug/net5.0/Neac.BusinessLogic.csprojAssemblyReference.cache
/.vs/slnx.sqlite
/.vs/Neac-Core/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/Neac-Core/config/applicationhost.config
/Neac/.vs/Neac/config/applicationhost.config
/Neac/.config
/ClientApp/client-app/node_modules/**
/Neac.Api/.vs/**