.side-nav .sidenav-itm .router-link-active .itm-title,
.sidebar .side-nav .sidenav-itm .router-link-active>i{
    color: #0F56B3;
}

.lst-ecosystem>li.is-disable .box-product,.itm-system .drop-itm.is-disable{cursor:not-allowed !important;}

.theme-blue .side-nav .sidenav-itm  a.router-link-active {
    background: #CFF1F8;
    border-left: 3px solid #0982DA;
}

.wiki-wrap .lst-info .custom-input .vue-treeselect__control {
    height: 40px !important;
    padding: 0 5px;
    border: 1px solid #efecec !important;
    border-bottom: 2px solid #E7EEF7 !important;
    font-size: 16px;
}
.wiki-wrap .lst-info .custom-input .vue-treeselect__input{
    line-height: 40px;
}

.wiki-wrap .group-right .custom-input{
    width: 340px;
    font-size: 14px;
}

.wiki-wrap .create-new-area .vue-tags-input{
    margin-bottom: 4px;
}
.wiki-wrap .create-new-area .custom-control{
    width: 30%;
    margin-top: 3px;
}
.wiki-wrap .modal-box-itm .custom-input .vs__open-indicator{
    transform: scale(.7);
}
.wiki-wrap .modal-box-itm .custom-input .vs__clear>svg{
    transform: scale(.8);
    margin-bottom: 3px;
}

.wiki-wrap .detail-show{
    text-align: right;
}

.wiki-wrap .vue-treeselect__single-value {
    padding-top: 2px;
}
.wiki-wrap .box-head .custom-input .ipt-search {
    padding-top: 2px;
}
.wiki-wrap .box-head .btn-create:disabled,
.wiki-wrap .btn-handle:disabled{
    opacity: .6;
    cursor: auto;
}
.wiki-wrap .btn-handle:disabled:hover{
    background: transparent !important;
}
.wiki-wrap .box-head .btn-create:disabled:hover{
    background: #1763C6;
}