@charset "utf-8";

/* Sarabun */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 300;
    src: url(font/Sarabun-Light.eot);
    src: url(font/Sarabun-Light.eot?#iefix) format('embedded-opentype'), url(font/Sarabun-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 300;
    src: url(font/Sarabun-Italic.eot);
    src: url(font/Sarabun-Italic.eot?#iefix) format('embedded-opentype'), url(font/Sarabun-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: url(font/Sarabun-Regular.eot);
    src: url(font/Sarabun-Regular?#iefix) format('embedded-opentype'), url(font/Sarabun-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    src: url(font/Sarabun-Medium.eot);
    src: url(font/Sarabun-Medium.eot?#iefix) format('embedded-opentype'), url(font/Sarabun-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    src: url(font/Sarabun-Bold.eot);
    src: url(font/Sarabun-Bold.eot?#iefix) format('embedded-opentype'), url(font/Sarabun-Bold.ttf) format('truetype');
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(font/Roboto-Light.eot);
    src: url(font/Roboto-Light.eot?#iefix) format('embedded-opentype'),
         url(font/Roboto-Light.woff2) format('woff2'),
         url(font/Roboto-Light.woff) format('woff'),
         url(font/Roboto-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(font/Roboto-Regular.eot);
    src: url(font/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
         url(font/Roboto-Regular.woff2) format('woff2'),
         url(font/Roboto-Regular.woff) format('woff'),
         url(font/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(font/Roboto-Medium.eot);
    src: url(font/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
         url(font/Roboto-Medium.woff2) format('woff2'),
         url(font/Roboto-Medium.woff) format('woff'),
         url(font/Roboto-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(font/Roboto-Bold.eot);
    src: url(font/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
         url(font/Roboto-Bold.woff2) format('woff2'),
         url(font/Roboto-Bold.woff) format('woff'),
         url(font/Roboto-Bold.ttf) format('truetype');
}


/* Reset */

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%
}

body,
input,
textarea,
select,
table {
    font-family: 'Sarabun', sans-serif;
    font-size: 12px
}

img,
fieldset {
    border: 0;
    vertical-align: middle;
}
button {
    border: 0;
    outline: 0;
}

dl,
ul,
ol,
menu,
li {
    margin: 0;
    list-style: none
}

address,
caption,
em {
    font-style: normal
}

a {
    display: block;
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: none
}

body {
    background: #fff
}

.clear {
    clear: both;
}

/* COMMON THEME */
.theme-blue header{
    background-color: #1763C6;
    border: 0;
}
.theme-blue .sidebar .logo{
    background-color: #0F56B3;
    border-bottom: 0;
}
.theme-blue .header-ct .app-search .ipt-search {
    min-width: 350px;
    background: #187BDE;
    border: 1px solid #2B86FE;
    font-size: 14px;
    line-height: 18px;
    color: #DBE9FB;
}
.theme-blue .header-ct .app-search .ipt-search::placeholder {
    color: #DBE9FB;
}
.theme-blue .sidebar .txt-logo,
.theme-blue .itm-topbar.user-profile .acc-uname {
    color: #fff;
}
.theme-blue .itm-topbar.user-profile .acc-uname:after {
    background: url(../images/icon-arr-down-sm-white.svg) no-repeat;
}
.theme-blue .itm-topbar.user-profile:before{
    background-color: transparent;
}
.theme-blue .itm-topbar.user-profile:after {
    background-color: #0982DA;
}
.theme-blue .itm-topbar.user-profile:before{
    content: '';
    position: absolute;
    top: -18px;
    width: 100%;
    height: 70px;
    background-color: #0982DA;
    border-left: 1px solid #0982DA;
}
.theme-blue .btn-menubar {
    background: url(../images/icon-menubar-white.svg) no-repeat;
}

.theme-blue .icon-h-gray{
    display: none !important;
}
.theme-blue .icon-h-white{
    display: block !important;
}

.theme-blue .side-nav .sidenav-itm a {
    padding: 8px 0 8px 20px;
    border-left: 3px solid transparent;
}
.theme-blue .sidenav-itm a:hover, 
.theme-blue .sidenav-itm.is-active a {
    background: #CFF1F8;
    border-left-color: #0982DA;
}
.theme-blue .sidebar .side-nav{
    padding: 0;
}

/* END COMMON THEME */

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 280px;
    z-index: 99;
    width: calc(100% - 280px);
    height: 70px;
    background-color: #fff;
    border: 1px solid rgba(250, 250, 250, 0.5);
    -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
}
.header-ct {
    position: relative;
    height: 100%;
    padding: 0 30px 0 60px;
}

.header-ct .app-search .ipt-search{
    min-width: 390px;
    padding-right: 40px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.header-ct .app-search .ipt-search::-webkit-input-placeholder{
    font-size: 13px;
    line-height: 18px;
    color: #BBBBBB;
}
.header-ct .app-search .ipt-search::-moz-placeholder{
    font-size: 13px;
    line-height: 18px;
    color: #BBBBBB;
}
.header-ct .app-search .ipt-search:-ms-input-placeholder{
    font-size: 13px;
    line-height: 18px;
    color: #BBBBBB;
}
.header-ct .app-search .ipt-search::-ms-input-placeholder{
    font-size: 13px;
    line-height: 18px;
    color: #BBBBBB;
}
.header-ct .app-search .ipt-search::placeholder{
    font-size: 13px;
    line-height: 18px;
    color: #BBBBBB;
}
.header-ct .app-search .btn-search{
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: transparent;
}

.header-ct .lst-topbar-menu{
    margin-left: 12px;
}
.header-ct .lst-topbar-menu .itm-topbar{
    margin-left: 12px;
}
.header-ct .lst-topbar-menu .itm-topbar:first-child{
    margin-left: 0;
}

header .itm-link .icon-h-gray{
    display: block;
}
header .itm-link .icon-h-white{
    display: none;
}

.itm-topbar .itm-link{
    position: relative;
}
.itm-topbar.noti-remind .lbl-num-noti{
    position: absolute;
    top: -5px;
    right: -2px;
    padding: 0 6px;
    background: #FD625E;
    border-radius: 30px;
    font-size: 11px;
    line-height: 11px;
    color: #fff;
}
.lst-topbar-menu .itm-topbar{
    position: relative;
}
.itm-topbar.user-profile{
    padding: 0 12px;
}
.itm-topbar.user-profile:before,
.itm-topbar.user-profile:after{
    content: '';
    position: absolute;
    top: -18px;
    width: 1px;
    height: 70px;
}
.itm-topbar.user-profile:before{
    left: 0;
    background-color: #EDEDED;
}
.itm-topbar.user-profile:after{
    right: 0;
    background-color: #EDEDED;
}
.itm-topbar.user-profile .acc-uavatar{
    max-width: 35px;
    height: 35px;
    border-radius: 50%;  
}
.itm-topbar.user-profile .acc-uavatar>img{
    width: 100%;
    border-radius: 50%;  
}
.itm-topbar.user-profile .acc-uname{
    margin-left: 10px;
    padding-right: 18px;
    font-size: 14px;
    line-height: 16px;
    color: #828282;    
}
.itm-topbar.user-profile .acc-uname:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    width: 10px;
    height: 10px;
    background: url(../images/icon-arr-down-sm.svg) no-repeat;
}
.itm-topbar.user-profile.open .acc-uname:after {
    top: 12px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.drop-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 998;
    width: 305px;
    height: 420px;
    padding: 10px 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}
.drop-menu.type2 {
    top: 60px;
    right: 0px;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid #E8EBED;
    -webkit-box-shadow: 0px 0px 6px rgba(125, 125, 125, 0.15);
            box-shadow: 0px 0px 6px rgba(125, 125, 125, 0.15);
}
.drop-menu.type2:before {
    content: '';
    position: absolute;
    top: -9px;
    right: 4px;
    width: 25px;
    height: 9px;
    background: url(../images/icon-polygon.png) no-repeat;
}
.user-profile .drop-menu .drop-itm {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-align: left;
}
.user-profile .drop-menu .drop-itm:hover {
    background: #F5F5F5;
    border-radius: 4px;
    color: #1A3640;
}

.itm-system .drop-menu{
    top: 58px;
    right: -170px;
    width: 650px;
    padding: 0;
}
.itm-system .drop-menu:before{
    right: 170px;
}
.itm-system .drop-menu>.row{
    margin-left: 0;
    margin-right: 0;
}

.itm-system .drop-itm{
    min-height: 175px;
    padding: 38px 0 45px;
    border-right: 1px solid #EBF1F8;
    border-bottom: 1px solid #EBF1F8;
}
.itm-system .drop-itm>i{
    font-size: 36px;
    color: #004BB0;
}

.itm-system .drop-itm:hover{
    background-color: #f3f3f3;
}
.itm-system .drop-itm:hover>i{
    color: #338BE3;
}

.itm-system .drop-itm .txt{
    margin-top: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #333;
    text-align: center;
}

.itm-system .drop-itm.is-disable{
    cursor: auto;
}
.itm-system .drop-itm.is-disable>i,
.itm-system .drop-itm.is-disable .txt{
    color: #999;
}
.itm-system .drop-itm.is-disable:hover{
    background-color: #fff;
}

.drop-menu.show {
    display: block !important;
}

.drop-menu .top-noti {
    margin-bottom: 10px;
    padding: 0 20px;
}
.drop-menu .top-noti>strong {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #333;   
}
.drop-menu .top-noti .mark-read {
    background-color: transparent;
    font-size: 15px;
    line-height: 20px;
    color: #333;
    transition: .2s;
}
.drop-menu .top-noti .mark-read:hover,
.drop-menu .view-more:hover {
    text-decoration: underline !important;
}
.drop-menu .view-more{
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 20px;
    color: #45A0FB;
}

.drop-menu .lst-noti{
    width: 100%;
    height: 100%;
    height: 320px;
}
.drop-menu .lst-noti.scroll{
    overflow-y: scroll;
    max-height: 420px;
    scrollbar-width: thin;
    scrollbar-color: #a5a0a0 transparent;
}
.drop-menu .lst-noti.scroll:-webkit-scrollbar-track{
    background: transparent;
}
.drop-menu .lst-noti.scroll:-webkit-scrollbar-thumb {
    background-color: #a5a0a0;
    border-radius: 40px;
    border: 2px solid transparent;
}

.drop-menu .lst-noti.scroll::-webkit-scrollbar{width:4px}
.drop-menu .lst-noti.scroll::-webkit-scrollbar-thumb{background-color:#C1C9D2}

.lst-noti .img-area{
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}
.lst-noti .img-area>img{
    width: 100%;
    border-radius: 50%;
}
.lst-noti .info-area .txt-tit{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}
.lst-noti .info-area .txt-tit>span{
    display: inline-block;
    margin-left: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #449DF6;  
}
.lst-noti .info-area .txt-desc{
    font-size: 15px;
    line-height: 20px;
    color: #333;  
}
.lst-noti .info-area .txt-time{
    display: block;
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.lst-noti .itm-noti>a{
    padding: 12px 10px 12px 20px;
}
.lst-noti .itm-noti>a:hover,
.lst-noti .itm-noti .un-read{
    background: #E6EFFF;
}
.lst-noti .itm-noti .un-read{
    background: #E6EFFF;
}
.lst-noti .itm-noti .un-read .txt-time{
    font-weight: 700;
    color: #0982DA;    
}

.itm-topbar.noti-remind .drop-menu{
    width: 400px;
    top: 60px;
    padding-top: 25px;
    box-shadow: 0px 0px 40px rgba(12, 80, 130, 0.3);
}
.itm-topbar.noti-remind .drop-menu:after{
    content: '';
    position: absolute;
    top: -9px;
    right: 45px;
    width: 25px;
    height: 9px;
    background: url(../images/icon-polygon.png) no-repeat;
}

.wrap.bg-overlay,
.wrap.bg-overlay .side-nav{
    position: relative;
}
.wrap.bg-overlay:before,
.wrap.bg-overlay .side-nav:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 99;
}
.wrap.bg-overlay .left-side:before{
    top: 70px;
}

.btn-menubar{
    display: none;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 30px;
    height: 30px;
    background: url(../images/icon-menubar.svg) no-repeat;
    transform: translateY(-50%);
    z-index: 100;
    transition: all 0.3s ease;
}

/* END HEADER */

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    z-index: 99;
}

.sidebar .logo{
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #F1F1F1;
}
.sidebar .page-title>a{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #333;
}
.sidebar .img-logo{
    width: 34px;
    min-width: 34px;
    height: 34px;
    margin-right: 8px;
}
.sidebar .img-logo>img{
    display: block;
    width: 100%;
}
.sidebar .txt-logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #333;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.sidebar .side-nav {
    /* overflow-y: scroll; */
    height: 100%;
    padding: 0 20px;
}
.sidebar .side-nav::-webkit-scrollbar{width:5px}
.sidebar .side-nav::-webkit-scrollbar-thumb{background-color:#C4C4C4;border-radius:6px}

.side-nav .sidenav-itm a{
    transition: all 0.3s ease;
}
.side-nav .sidenav-itm i{
    min-width: 38px;
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}
.side-nav .sidenav-itm .itm-title {
    font-weight: 400;
    font-size: 16px;
    color: #333;
    opacity: 1;
    white-space: nowrap;
    transition: 0.3s;
}

.side-nav .sidenav-tit {
    margin-bottom: 12px;
    padding: 25px 0 0 10px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #999;
    transition: all 0.3s ease;
}

.side-nav .sidenav-itm {
    margin-top: 6px;
}
.side-nav .sidenav-itm a {
    font-size: 16px;
    line-height: 21px;
    color: #333;
}
.side-nav .sidenav-itm a>i {
    color: #BBBBBB;
}

.side-nav .sidenav-itm .itm-title:hover,
.side-nav .sidenav-itm a:hover i,
.side-nav .sidenav-itm.is-active .itm-title,
.side-nav .sidenav-itm.is-active a>i{
   color: #0F56B3;
}


/* END SIDEBAR */

/* MAIN */
main{
    width: calc(100% - 280px);
    margin-left: 280px;
    padding-top: 70px;
}
main .main-ct{
    width: 100%;
}

.datepicker-area {
    position: relative;
}
.ipt-time-area .icon-datepicker {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 18px;
    height: 16px;
    background: url(../images/icon-datetime.png) no-repeat;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* END MAIN */

/* FOOTER */
footer{
    width: calc(100% - 280px);
    height: 70px;
    margin-left: 280px;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid rgba(250, 250, 250, 0.5);
    -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
    line-height: 70px;
}
footer>p{
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
/* END FOOTER */

/* CONTENT ECOSYTEM */
.wrap.ecosystem-wrap{
    position: relative;
    background: linear-gradient(283.85deg, rgba(2, 87, 156, 0.77) 14.85%, rgba(14, 185, 243, 0.75) 51.13%, rgba(3, 92, 171, 0.93) 85.01%);
}
.wrap.ecosystem-wrap:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg-intro.png) no-repeat;
}
.wrap.ecosystem-wrap header{
    left: 0;
    width: 100%;
    background: rgb(9 74 151 / 30%);
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #50BAF8;
}

.wrap.ecosystem-wrap .icon-h-gray{
    display: none;
}
.wrap.ecosystem-wrap .icon-h-white{
    display: block;
}

/* .wrap.ecosystem-wrap header .page-title{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
.wrap.ecosystem-wrap header .page-title a{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #333;
} */
.wrap.ecosystem-wrap .itm-topbar.user-profile:before, 
.wrap.ecosystem-wrap .itm-topbar.user-profile:after {
    display: none;
}
.wrap.ecosystem-wrap .sidebar{
    background: rgb(9 74 151 / 0%);
}
.wrap.ecosystem-wrap .logo{
    padding-left: 70px;
    border-bottom: 0;
}
.wrap.ecosystem-wrap .sidebar .txt-logo {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.wrap.ecosystem-wrap .img-logo{
    width: 38px;
    height: 38px;
    margin-right: 8px;
}
.wrap.ecosystem-wrap .img-logo>img{
    width: 100%;
}

.wrap.ecosystem-wrap .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: auto;
    box-shadow: none;
}

.wrap.ecosystem-wrap main{
    width: 100%;
    height: 100vh;
    margin: 0 0 0;
    padding-top: 70px;
    z-index: 100;
}

.wrap.ecosystem-wrap .content-page{
    position: relative;
    height: 100%;
    min-height: 100%;
    padding: 0;
    background: transparent;
    z-index: 3;
}
.ecosystem-wrap .content-page .logo-ct{
    width: 135px;
}
.ecosystem-wrap .content-page .logo-ct>img{
    width: 100%;
}
.ecosystem-wrap .content-page .txt-tit{
    margin-top: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.ecosystem-wrap .lst-ecosystem{
    margin-top: 44px;
    padding: 0 25px;
    font-size: 0;
    background-color: rgb(9 74 151 / 30%);
}
.ecosystem-wrap .lst-ecosystem>li{
    display: inline-block;
    margin: 40px;
}
.lst-ecosystem>li:hover,
.lst-ecosystem>li.is-active .box-product{
    background-color: #1585D4;
}

.lst-ecosystem .box-product{
    width: 100%;
    height: 100%;
    padding: 20px 35px;
}
.lst-ecosystem .box-product>strong{
    display: block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #fff; 
}

.lst-ecosystem .box-product .img-area>img{
    width: 100%;
}
.lst-ecosystem>li.is-disable .box-product{
    cursor: auto;
}
.lst-ecosystem>li.is-disable:hover{
    background-color: transparent;
}
.lst-ecosystem>li.is-disable .box-product img{
    -webkit-filter: grayscale(100%);
    filter: gray;
    opacity: .5;
}
.lst-ecosystem>li.is-disable .box-product>strong{
    color: #92c2e5;
}
.ecosystem-wrap .footer-ct {
    margin-top: 78px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #fff;
}

.ecosystem-wrap .footer-ct .txt-link{
    display: inline-block;
    color: #fff;
}

.ecosystem-wrap .itm-topbar.user-profile .acc-uname {
    color: #fff;
}
.ecosystem-wrap .itm-topbar.user-profile .acc-uname:after {
    height: 7px;
    background: url(../images/icon-arr-down-sm-white.svg) no-repeat;
}
.ecosystem-wrap .itm-topbar.user-profile.open .acc-uname:after {
    top: 15px;
}


/* END CONTENT ECOSYTEM */


/* CONTENT COMMON */
.box-ct .tbl-wrap{
    position: relative;
    margin: 0 30px 50px;
}

.tbl-wrap .tbl {
    width: 100%;
}
.tbl thead th {
    padding: 13px 18px;
    border: 1px solid #E2E2E2;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #6F6683;
    text-align: center;
}
.tbl tbody tr td {
    padding: 13px 18px;
    border: 1px solid #E2E2E2;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #666;
    text-align: center;
}
.tbl tbody td .txt-tit{
    /* overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    text-align: left;
    font-weight: 500;
    color: #333;
}

.tbl thead th:nth-child(odd), .tbl tr td:nth-child(odd) {
    background: #FFF;
}
.tbl thead th:nth-child(even), .tbl tr td:nth-child(even) {
    background: #FAFAFA;
}

.tbl-wrap .btn-wrap .btn{
    margin: 2px 0;
    color: #fff;
    font-size: 14px;
    line-height: 13px;
    white-space: nowrap;
}
.tbl-wrap .btn-wrap .btn>i{
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
}

.tbl-wrap .btn-wrap .btn>span {
    display: inline-block;
    vertical-align: middle;
}

.tbl-wrap .btn:focus {
    box-shadow: none;
}

.tbl-wrap .detail-show{
    margin-top: 8px;
    text-align: right;
}
.tbl-wrap .detail-show>p{
    font-size: 14px;
    line-height: 18px;  
    letter-spacing: -0.02em;
    color: #666;
}

.pagination {
    margin: 10px 0 30px;
}
.pagination a {
    float: left;
    height: 35px;
    margin-right: 6px;
    padding: 0 11px 0 12px;
    border: 1px solid #F1F1F1;
    background-color: #fff;
    font-size: 16px;
    line-height: 31px;
    color: #666;
}

.pagination .item-arrow>i{
    font-size: 13px;
}

.pagination a.is-active, .pagination a:hover {
    background-color: #4BA6EF;
    border: solid 1px #4BA6EF;
    color: #fff;
}


.custom-input.selbox {
    position: relative;
}
.custom-input .txt-ipt {
    width: 100%;
    padding: 8px 10px 8px 15px;
    border: 1px solid #ced4da;
    /* border: 1px solid #efecec;
    border-bottom: 2px solid #E7EEF7; */
    background-color: #Fff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #212529;
    outline: 0;
}
.selbox .btn-selbox {
    position: relative;
    background-color: #fff;
    text-align: left;
}
.selbox .btn-selbox:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    background: url(../images/icon-arr-sm.png) no-repeat;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.selbox.open .btn-selbox:after {
    top: 14px;
    -webkit-transform: rotate(180deg) translateY(0);
    -ms-transform: rotate(180deg) translateY(0);
    transform: rotate(180deg) translateY(0);
}
.selbox-lst-area {
    display: none;
    position: absolute;
    left: 0;
    top: auto;
    z-index: 99;
    width: 100%;
    padding: 6px 0;
    -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    border-radius: 0px 0px 5px 5px;
    background-color: #fff;
}
.selbox-lst-area.scroll {
    padding: 6px 0;
}
.selbox.open .selbox-lst-area {
    display: block;
}
.selbox-lst-area.scroll .selbox-lst {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    max-height: 160px;
}
.selbox-lst>li {
    margin-left: 5px;
    border-top: solid 1px #EDEDED;
}
.selbox-lst>li:first-child {
    border-top: 0;
}
.selbox-lst .sel-value {
    width: 100%;
    padding: 7px 20px;
    background-color: transparent;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #333;
}
.selbox-lst .sel-value:hover {
    background-color: #f3f3f3;
}
.selbox-lst::-webkit-scrollbar{width:4px}
.selbox-lst::-webkit-scrollbar-thumb{background-color:#C4C4C4;border-radius:30px}

/* Main Content */
.wrap main {
    height: 100%;
}
.wrap .content-page{
    min-height: calc(100vh - 180px);
    padding: 20px;
    background-color: #FAFAFA;
}
.main-ct .box{
    min-height: calc(100vh - 180px);
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
}
.main-ct .box-ct {
    padding-bottom: 8px;
}

.main-ct .box .box-head {
    padding: 20px 30px;
}
.main-ct .box-head .txt-head {
    padding: 10px 26px 10px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #333333;
}

.box-head .form-wrap{
    margin-right: 15px;
}
.box-head .ipt-search{
    padding: 5px 14px 4px 10px;
    background: #fff;
    border: 1px solid #E8EBED;
    border-radius: 4px;
    box-shadow: none;
}
.box-head .ipt-search::placeholder{
    font-size: 13px;
    line-height: 18px;
    color: #BBBBBB;
}

.box-head .group-right .btn-evt {
    height: 35px;
    margin-left: 8px;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
.box-head .group-right .btn-evt>span {
    margin: 0 0 1px 2px;
}
.box-head .btn-create {
    background: #0F56B3;
}
.box-head .btn-export {
    background: #8BC34A;
}

.box-head .btn-import {
    background: #4BA6EF;
}

.box-head .btn-create>i{
    margin: 0 3px 0 0;
}
.box-head .btn-create>span{
    margin-top: -3px;
}

/* End Main Content */

/* END CONTENT COMMON */

/* POPUP */
.popup .modal-dialog{
    max-width: 700px;
}

.popup-xxl .modal-dialog {
    max-width: 1200px;
}
.popup-lg .modal-dialog{
    max-width: 900px;
}
.popup-md .modal-dialog {
    max-width: 550px;
}

.popup-sm .modal-dialog {
    max-width: 400px;
}

.popup .modal-content {
    background: #fff;
    /* box-shadow: 5px 5px 20px rgba(135, 128, 213, 0.14); */
    -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
            box-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
    border-radius: 10px;
    border: 0;
}
.popup .modal-header {
    padding: 15px 30px;
    background: #45A0FB;
    border-radius: 10px 10px 0px 0px;
}
.popup .modal-body {
    padding: 30px 30px 40px;
}

.ipt-file-area{
    position: relative;
    padding-right: 100px;
}
.popup .modal-body .btn-upfile{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    margin-left: 13px;
    padding: 0 14px;
    background: linear-gradient(198.26deg, #F9F9F9 13.92%, #FFFFFF 49.04%, #E5E5E5 87.59%);
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
}
.popup .modal-body .btn-upfile-example{
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #1972E3;
}
.popup-confirm .modal-body {
    padding-bottom: 20px;
}
.popup-sm .modal-body {
    max-width: 400px;
}
.popup .lst-info .has-confirm{
    display: none;
}
.popup .lst-info .lbl-name{
    height: 25px;
    margin-right: 4px;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #5eaaf7;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #fff;
}

.popup .lst-info .lbl-status{
    height: 25px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #fff;
}

.popup .modal-footer {
    padding: 20px 30px;
    border-top: 0;
}

.popup .modal-footer .btn{
    border-radius: 4px;
    color: #fff;
}

.popup .modal-footer .btn{
    padding: 5px 18px;
}
.popup .modal-title{
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: #fff;
}
.popup .header-btn-group .btn{
    padding: 0 3px;
    color: #fff;
}
.popup .modal-header .btn-close {
    width: auto;
    height: auto;
    padding: 5px 3px;
    color: #fff;
    background: none;
    border-radius: 0;
    opacity: 1;
}
.popup .txt-tit {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
    /* color: #999; */
    color: #212529;
}
.popup .txt-tit>em {
    color: #EB0202;
}
.popup .txt-ipt {
    width: 100%;
    padding: 8px 10px 8px 15px;
    border: 1px solid #ced4da;
    /* border: 1px solid #efecec; */
    /* border-bottom: 2px solid #E7EEF7; */
    background-color: #Fff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    /* color: #666; */
    color: #212529;
    outline: 0;
}
.popup textarea.txt-ipt {
    min-height: 40px;
    max-height: 300px;
}
.popup .txt-ipt:disabled {
    background-color: #FAFAFA !important;
}

.popup .lst-info>li{
    margin-top: 20px;
}
.popup .lst-info>li:first-child{
    margin-top: 0;
}
.popup .lst-info .two-col{
    margin: 24px -6px 0 -6px;
}
.popup .two-col .col-input {
    width: 50%;
    padding: 0 6px;
}
.popup .lst-info .chck-ipt {
    width: 14px;
    height: 14px;
    margin-top: 2px;
}
.popup .lst-info .chck-lbl {
    margin-left: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}


.popup .selbox .btn-selbox .txt-ipt{
    cursor: pointer;
}

.popup .selbox-lst .sel-value:hover {
    background-color: #f3f3f3;
}

.popup .selbox-lst-area.scroll {
    padding: 6px 0;
}

.selbox-lst .selbox-itm,
.selbox-lst .selbox-itm .sel-value{
    padding-left: 10px;
}
.selbox-lst .selbox-itm .sel-value:hover{
    background-color: transparent;
}

.popup-confirm .modal-body .txt-noti{
    font-size: 18px;
    line-height: 20px;
    color: #333;
}

.modal-body .get-lst-sel>li {
    display: inline-block;
    position: relative;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
    border: 1px dashed #45A0FB;
    border-radius: 6px;
    font-size: 13px;
    color: #666;
}
.modal-body .get-lst-sel .btn-remove{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    background-color: #f0f0f0;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 50%;
    font-size: 13px;
    line-height: 13px;
    color: #666;
}

.popup .iptbox-custom {
    position: relative;
    background: #fff;
}

.popup .iptbox-custom .ipt-datetime {
    padding-right: 32px;
    background: transparent;
    position: relative;
    z-index: 3;
    cursor: pointer;
}
.iptbox-custom .icon-datepicker {
    right: 18px;
    width: 18px;
    height: 16px;
    background: url(../images/icon-datetime.png) no-repeat;
    background-size: 100% auto;
}




@media screen and (min-width: 1200px) and (max-width: 1399px){
    .ecosystem-wrap .content-page .txt-tit {
        margin-top: 16px;
        font-size: 33px;
        line-height: 40px;
    }

    .ecosystem-wrap header {
        width:100%;
        left: 0;
    }
    .ecosystem-wrap .sidebar {
        width: auto;
    }
    .ecosystem-wrap main {
        width: 100%;    
        margin-left: 0;
    }
    .ecosystem-wrap .sidebar .page-title {
        display: block;
    }
    /* .ecosystem-wrap .content-page .logo-ct{
        width: 135px;
    } */
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .ecosystem-wrap .lst-ecosystem>li {
        margin: 35px 25px;
    }
    .ecosystem-wrap .content-page .txt-tit {
        margin-top: 16px;
        font-size: 33px;
        line-height: 40px;
    }
    .ecosystem-wrap header {
        width:100%;
        left: 0;
    }
    .ecosystem-wrap .footer-ct{
        padding: 0 46px;
    }
    .ecosystem-wrap .sidebar .logo .txt-logo {
        display: block;
    }
    .ecosystem-wrap .content-page .logo-ct{
        width: 135px;
    }
    .wrap.ecosystem-wrap:after {
        background-size: cover;
    }
    
    .wrap .sidebar{
        width: 80px;
    }

    .wrap header {
        width: calc(100% - 80px);
        left: 80px;
    }
    
    .wrap main, .wrap footer {
        width: calc(100% - 80px);
        margin-left: 80px;
    }

    .side-nav .sidenav-itm .itm-title {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .logo .txt-logo,
    .side-nav .sidenav-tit {
        display: none;
    }

    .btn-menubar{
        display: block;
    }

    .sidebar:hover,.sidebar.open{
        width: 280px;
    }

    .sidebar:hover .txt-logo,
    .sidebar.open .txt-logo,
    .sidebar:hover .sidenav-tit,
    .sidebar.open .sidenav-tit{
        display: block;
    }
    .sidebar:hover .sidenav-itm .itm-title,
    .sidebar.open .sidenav-itm .itm-title {
        opacity: 1;
        pointer-events: unset;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .ecosystem-wrap .content-page .txt-tit {
        margin-top: 27px;
        font-size: 33px;
    }
    .ecosystem-wrap .lst-ecosystem {
        margin: 44px 105px 0;
        padding: 10px 25px;
    }
    .ecosystem-wrap .lst-ecosystem>li {
        /* margin: 35px 25px; */
        width: calc(50% - 30px);
        margin: 25px 15px 10px;
    }
    .ecosystem-wrap .footer-ct{
        margin-top: 55px;
        padding: 0 42px;
    }
    .ecosystem-wrap .content-page .logo-ct {
        width: 135px;
    }
    .ecosystem-wrap .sidebar .logo .txt-logo {
        display: block;
    }
    .wrap.ecosystem-wrap:after {
        background-size: cover;
    }

    .wrap .sidebar{
        width: 80px;
    }
    .wrap header {
        width: calc(100% - 80px);
        left: 80px;
    }
    
    .wrap main, .wrap footer {
        width: calc(100% - 80px);
        margin-left: 80px;
    }

    .header-ct .app-search .ipt-search {
        min-width: 350px;
    }
    .btn-menubar{
        display: block;
    }

    .side-nav .sidenav-itm .itm-title {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .logo .txt-logo,
    .side-nav .sidenav-tit {
        display: none;
    }

    .sidebar:hover,.sidebar.open{
        width: 280px;
    }

    .sidebar:hover .txt-logo,
    .sidebar.open .txt-logo,
    .sidebar:hover .sidenav-tit,
    .sidebar.open .sidenav-tit{
        display: block;
    }
    .sidebar:hover .sidenav-itm .itm-title,
    .sidebar.open .sidenav-itm .itm-title {
        opacity: 1;
        pointer-events: unset;
    }
}