.wiki-wrap,
.wiki-wrap body, .wiki-wrap input, .wiki-wrap textarea, .wiki-wrap select, .wiki-wrap table {
    font-family: 'Roboto', sans-serif;
}

.wiki-wrap .btn-refuse {
    color: #fff !important;
    background-color: #ff8733 !important;
    border-color: #ff8733 !important;
}
.wiki-wrap .btn-refuse:hover {
    background-color: #ef7e2e !important;
    border-color: #ef7e2e !important;
}

.wiki-wrap .sidenav-tit{
    padding-left: 23px;
}

.wiki-wrap .pagination a {
    border: 1px solid #e2e2e2;
}
.wiki-wrap .pagination a.is-active,
.wiki-wrap .pagination a:hover {
    background-color: #0982DA;
    border: solid 1px #0982DA;
    color: #fff;
}

.wiki-wrap .sidenav-itm a>i{
    min-width: 24px;
    height: 24px;
    background: #0982DA;
    border-radius: 50%;
    font-size: 12px;
    line-height: 24px;
    color: #fff !important;
}
.wiki-wrap .side-nav .sidenav-itm .itm-title{
    margin-left: 10px;
}
.wiki-wrap .side-nav .sidenav-tit {
    color: #bbb;
}

.wiki-wrap .side-nav .sidenav-itm a {
    color: #44535E;
}

.wiki-wrap .side-nav .sidenav-itm .itm-title:hover, 
.wiki-wrap .side-nav .sidenav-itm.is-active .itm-title{
    color: #0982DA;
}
.wiki-wrap .side-nav .sidenav-itm a:hover i, 
.wiki-wrap .side-nav .sidenav-itm.is-active a>i {
    color: #fff !important;
    background: #0982DA;
}

.wiki-wrap .sidenav-itm a:hover,
.wiki-wrap .sidenav-itm.is-active a{
    border-left: 3px solid #0982DA;
}

.wiki-wrap .td-ipt-check {
    width: 14px;
    height: 14px;
}
.wiki-wrap .td-ipt-check:checked {
    background-color: #0982DA;
    border-color: #0982DA;
}
.wiki-wrap .tbl tbody td .txt-tit {
    font-weight: 400;
    color: #666;
}

.wiki-wrap .main-ct .box-head .txt-head {
    padding: 0;
}
.wiki-wrap .box-head .txt-head .txt-desc{
    display: block;
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #BBBBBB;
}

.wiki-wrap .box-head .btn-create {
    background: #1763C6;
    line-height: 1;
}
.wiki-wrap .box-head .btn-create:hover {
    background: #0982DA;
}

.wiki-wrap .group-right .custom-input .txt-ipt {
    padding: 4px 20px 5px 8px;
}

.wiki-wrap .box-ct .create-new-area {
    position: relative;
    margin: 0 30px 50px;
    border-top: 1px solid #E2E2E2;
}
.wiki-wrap .sel-type-check .form-check {
    margin-right: 30px;
}
.wiki-wrap .sel-type-check .txt-chklbl {
    padding-left: 6px;
    font-size: 16px;
    line-height: 21px;
    color: #666;
    cursor: pointer;
}
.wiki-wrap .sel-type-check .form-check-input[type=radio] {
    width: 21px;
    height: 21px;
    margin-top: 0;
    background: url(../images/radio-off.png) no-repeat;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
.wiki-wrap .sel-type-check .form-check-input:checked[type=radio] {
    background: url(../images/radio-on.png) no-repeat;
}
.wiki-wrap .tbl-wrap .btn-wrap .btn>i{
    margin-bottom: -1px;
}

.create-new-area .lst-info>li{
    margin-top: 30px;
}
.create-new-area .btn-wrap{
    margin-top: 20px;
}
.create-new-area .btn-wrap .btn-item{
    margin-right: 10px;
    border-radius: 4px;
}

.create-new-area .tbl-wrap .btn-wrap .btn>span {
    margin-bottom: 1px;
}
.wiki-wrap .lst-info>li .txt-tit {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #999;
}
.wiki-wrap .lst-info>li .txt-tit>em {
    color: #EB0202;
}
.wiki-wrap .lst-info>li .txt-ipt {
    width: 100%;
    padding: 7px 10px 7px 15px;
    border: 1px solid #efecec;
    border-bottom: 2px solid #E7EEF7;
    background-color: #Fff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    outline: 0;
}
.wiki-wrap .lst-info>li textarea.txt-ipt {
    min-height: 60px;
    max-height: 300px;
}
.lst-info .custom-input .select2 {
    width: 100% !important;
}
.lst-info .custom-input .select2-selection {
    height: 40px !important;
    padding: 0 5px;
    border: 1px solid #efecec !important;
    border-bottom: 2px solid #E7EEF7 !important;
}
.lst-info .custom-input .selection .select2-selection .select2-selection__rendered {
    font-size: 16px;
    line-height: 38px;
}   

.lst-info .custom-input .select2-selection__arrow {
    top: 7px !important;
}

.wiki-wrap .lst-info>li .btn-upfile {
    width: 150px;
    height: 40px;
    padding: 0 14px;
    background: #F8F8F8;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
}
.wiki-wrap .lst-info .upload-file-area .tbl-wrap{
    margin: 20px 0 0;
}

.lst-info .col-short-news,
.lst-info .col-document{
    display: none !important;

}
.lst-short-news .col-short-news,
.lst-document .col-document{
    display: block !important;
}
.lst-short-news .col-txtarea-detail,
.lst-document .col-txtarea-detail{
    display: none;
}

.tbl-categories tbody td{
    background-color: #FFF !important;
}
.tbl-categories .bg-gray{
    background-color: #FAFAFA !important;
}


.wiki-wrap .box-head .form-wrap {
    position: relative;
}
.wiki-wrap .form-wrap .btn-search{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
}
.wiki-wrap .form-wrap .btn-search>i{
    color: #C9C9C9;
}

.popup .modal-box-itm {
    position: relative;
    margin-top: 35px;
}
.popup .modal-box-itm:first-child {
    margin-top: 0;
}

.popup .modal-box-itm .tit {
    position: absolute;
    top: -10px;
    left: 25px;
    z-index: 1;
    margin-bottom: 0;
    padding: 0 4px;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #0982DA;
}
.popup .modal-box-itm .lst-info {
    padding: 20px 23px;
    border: 1px solid #0982DA;
    border-radius: 3px;
}
.popup .modal-box-itm .lst-info>li {
    margin-top: 15px;
}
.popup .modal-box-itm .lst-info>li:first-child {
    margin-top: 0;
}
.popup .modal-body {
    padding: 30px 30px 10px;
}
#popBanner .img-upload-area{
    width: 300px;
    margin: 0 auto 60px;
} 
#popBanner .img-upload-area>img{
    width: 100%;
} 
.popup .modal-body .btn-upfile{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
}


/* Custom select2 */
.custom-select2 .select2-container--default .select2-selection--single {
    height: 35px;
    background: #fff;
    border: 1px solid #E8EBED;
    border-radius: 4px;
}
.custom-select2 .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 14px;
    line-height: 35px;
    color: #666;
}
.custom-select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}
.custom-select2 .select2-search--dropdown .select2-search__field{
    outline: 0;
}
.custom-select2 .select2-container--default .select2-results > .select2-results__options{
    margin: 0 4px 4px 4px;
}
.custom-select2 .select2-results__option {
    padding: 6px 8px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #666;
}

.custom-select2 .select2-dropdown {
    background: #fff;
    border: 1px solid rgba(226, 226, 226, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
    z-index: 1062;
}
.custom-select2 .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: transparent;
}
.custom-select2 .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f3f3f3;
    color: #666;
}
.custom-select2 .select2-search--dropdown .select2-search__field {
    border: 1px solid #dddada;
}
/* END Custom select2 */


/* Wiki User */

/* .wrap wiki-wrap {
    padding: 20px 30px;
} */
.wiki-wrap .content-page {
    padding: 20px 25px;
}
.wiki-wrap .main-ct>.txt-head {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #333;   
}
.wiki-wrap .top-banner {
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 16px;
    background: url(../images/img-banner.png) no-repeat;
    border-radius: 10px;
    color: #fff;
}
.wiki-wrap .top-banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(110.76deg, rgba(23, 99, 198, 0.39) 43.1%, rgba(200, 202, 205, 0.41) 71.75%);
    border-radius: 10px;
    opacity: 0.99;
    z-index: 2;
}
.wiki-wrap .top-banner-ct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    text-align: center;
}
.wiki-wrap .top-banner-ct .txt-tit {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.wiki-wrap .top-banner-ct .input-area {
    position: relative;
    margin-top: 23px;
}
.wiki-wrap .input-area > input {
    width: 603px;
    height: 50px;
    padding: 14px 48px 14px 32px;
    border-radius: 30px;
    border: 0;
    font-size: 16px;
    outline: 0;
}
.wiki-wrap .input-area .btn-search {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 20px;
    color: #1763C6;
}
.wiki-wrap .top-banner-ct .suggest-area {
    margin-top: 14px;
}
.wiki-wrap .suggest-area > li {
    display: inline-block;
    margin-left: 3px;
    background: rgb(9 130 217 / 50%);
    border-radius: 30px;
    vertical-align: middle;
}
.wiki-wrap .suggest-area > li:first-child {
    margin-left: 0;
}
.wiki-wrap .suggest-area > li > a {
    padding: 6px 15px 5px 15px;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
}

.wiki-wrap .lst-news{
    margin-top: 34px;
}

.wiki-wrap .box .box-ct {
    padding: 0 30px 30px;
}

.wiki-wrap .box.type2{
    margin-bottom: 20px;
    border: 1px solid #E2E7F1;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(9, 130, 218, 0.1);
    border-radius: 10px;
    min-height: auto;
}


.wiki-wrap .lst-news .tit-ct{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.wiki-wrap .lst-news .txt-head{
    padding: 6px 0 0;
    font-size: 20px;
    line-height: 23px;
}
.wiki-wrap .txt-head.txt-red{
    color: #FD625E;
}
.wiki-wrap .txt-head.txt-orange{
    color: #FD9E0E;
}
.wiki-wrap .txt-head.txt-purple{
    color: #AC4CC5;
}

.wiki-wrap .box .box-head {
    margin: 0 30px;
    padding:20px 0 15px 0;
    border-bottom: 1px solid #F4F4F4;
}

.wiki-wrap .lst-news .box-ct{
    padding: 0 30px 30px;
}
.wiki-wrap .lst-news .item-link{
    padding: 16px 0;
    border-top: 1px solid #F4F4F4;
}

.wiki-wrap .lst-news .more-info{
    margin-top: 6px;
}
.wiki-wrap .lst-news .more-info>li{
    margin-right: 10px;
}
.wiki-wrap .lst-news .item-icon{
    margin-right: 5px;
}
.wiki-wrap .lst-news li>i{
    margin: 1px 3px 0 0;
}
.wiki-wrap .lst-news .item-down>i{
    margin-top: -1px;
}

.wiki-wrap .lst-news li>i,
.wiki-wrap .lst-news .item-txt{
    font-size: 13px;
    line-height: 15px;
    color: #979797;
}

.wiki-wrap .box-ct{
    padding: 0 30px 20px;
}
.wiki-wrap .box-ct>.lst-news{
    margin-top: 0;
}
.wiki-wrap .pagination a {
    line-height: 34px;
}

.wiki-wrap .group-right .custom-input{
    min-width: 250px;
}
.wiki-wrap .group-right .custom-input:last-child{
    margin-right: 0;
}
.wiki-wrap .group-right .txt-ipt {
    padding: 5px 17px 7px 15px;
    font-size: 15px;
}

.wiki-wrap .box .lst-news>li:first-child {
    border-top: 0;
}
.wiki-wrap .box .lst-news>li:last-child {
    border-bottom: 1px solid #F4F4F4;
}
.wiki-wrap .box .pagination{
    margin-top: 32px;
}

.lst-news .item-link:hover .tit-ct{
    color: #0982DA;
}

.wiki-wrap .lst-question{
    margin-top: 30px;
}
.wiki-wrap .lst-question>li{
    margin-bottom: 20px;
}
.wiki-wrap .lst-question .item-link{
    height: 80px;
    padding: 14px 22px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    
}
.wiki-wrap .lst-question .item-link:hover{
    background-color: #0982DA;
    border-radius: 10px;
}
.wiki-wrap .lst-question .item-link:hover .txt-question{
    color: #fff;
}
.wiki-wrap .lst-question .txt-question{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.wiki-wrap .private-doc .top-banner{
    height: 290px;
    margin: 0 0 30px;
    background: url(../images/img-banner-color.png) no-repeat;
}
.wiki-wrap .private-doc .top-banner:before {
    content: '';
    position: absolute;
    top: auto;
    right: auto;
    bottom: 10px;
    left: 120px;
    width: 300px;
    height: 243px;
    background: url(../images/img-desc.png) no-repeat;
    border-radius: 10px;
    opacity: 1;
    z-index: 2;
}
.wiki-wrap .private-doc .top-banner-ct{
    top: auto;
    bottom: 30px;
    transform: translate(-50%,0);
    text-align: left;
}
.wiki-wrap .private-doc .top-banner-ct .txt-tit{
    font-size: 24px;
    line-height: 28px;
}
.wiki-wrap .private-doc .lst-news>li {
    position: relative;
    border-top: 1px solid #F4F4F4;
}
.wiki-wrap .private-doc .item-link {
    margin-right: 40px;
    border-top: 0;
}


.wiki-wrap .private-doc .btn-showPop {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;
}
.wiki-wrap .private-doc .btn-showPop .btn-drop{
    background: transparent;
}
.wiki-wrap .private-doc .btn-showPop .btn-drop>i{
    font-size: 17px;
    color: #DADADA;
}
.wiki-wrap .private-doc .btn-showPop .drop-menu{
    top: -20px;
    right: 25px;
    width: 150px;
    height: 80px;
    padding: 10px 5px;
    border: 1px solid #E8EBED;
    box-shadow: 0px 0px 6px rgba(125, 125, 125, 0.15);
    border-radius: 4px;
}
.wiki-wrap .private-doc .btn-showPop .drop-menu:after {
    content: '';
    position: absolute;
    top: 30px;
    right: -16px;
    width: 23px;
    height: 9px;
    background: url(../images/icon-polygon.svg) no-repeat;
    background-size: 100% auto;
    transform: rotate(90deg);
}
.wiki-wrap .private-doc .drop-itm{
    display: block;
    width: 100%;
    padding: 7px 10px;
    border-radius: 4px;
    background: transparent;
    font-size: 13px;
    line-height: 16px;
    color: #666;
    text-align: left;
}
.wiki-wrap .private-doc .drop-itm:hover{
    background: #F5F5F5;
}
.wiki-wrap .statistical-area{
    margin-top: 17px;
}
.wiki-wrap .statistical-area>li{
    margin-left: 23px;
    padding: 20px 45px;
    background: #FFFFFF;
    border-radius: 20px;
    white-space: nowrap;
}
.wiki-wrap .statistical-area>li:first-child{
    margin-left: 0;
}
.wiki-wrap .statistical-area>li .num{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FD625E;
}
.wiki-wrap .statistical-area>li .txt-detail{
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.wiki-wrap .private-doc .box .box-head{
    position: relative;
    padding-bottom: 0;
}
.wiki-wrap .box-head .tab-lst{
    margin-top: 14px;
}
.wiki-wrap .box-head .tab-lst>li{
    margin-left: 20px;
}
.wiki-wrap .box-head .tab-lst>li:first-child{
    margin-left: 0;
}
.wiki-wrap .box-head .btn-tab{
    padding: 14px;
    background-color: transparent;
    border-radius: 5px 5px 0px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #666;  
}
.wiki-wrap .box-head .btn-tab.is-active{
    background-color: #1763C6;
    color: #fff;  
}
.wiki-wrap .private-doc .lst-news {
    margin-top: 0;
}
.wiki-wrap .private-doc .box-head .btn-create {
    margin-left: 8px;
    padding: 10px 12px 7px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.wiki-wrap .box-ct .tbl-wiki-user{
    margin-top: 30px;
}
.wiki-wrap .tbl-wiki-user td.txt-blue{
    color: #0982DA;
}
.wiki-wrap .tbl-wiki-user .btn-wrap .btn {
    padding: 6px 12px 8px;
    line-height: 14px;
}
.wiki-wrap .tbl-wrap {
    margin: 0;
}
.wiki-wrap .box-ct-detail .doc-content{
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    text-align: left;
}
.wiki-wrap .box-ct-detail .doc-content a{
    display: inline-block;
}
.wiki-wrap .box-ct .doc-content p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333;
    /* text-align: left; */
}
.wiki-wrap .box-ct-detail .doc-content h2[data-field="sapo"]{
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 700;
}

.wiki-wrap .box-ct-detail .doc-content>img {
    width: 100%;
    margin-bottom: 25px;
}
.wiki-wrap .box-ct-detail .doc-content table {
    width: 100% !important;
}
.wiki-wrap .box-ct-detail .doc-content tr td {
    padding: 10px 18px;
    border: 1px solid #E2E2E2;
    font-size: 15px;
    line-height: 20px;
}
.wiki-wrap .info-author {
    /* margin-top: 21px; */
    padding-top: 12px;
    border-top: solid 1px #DBE9FB;
    font-size: 0;
}
.wiki-wrap .info-author span {
    display: block;
    margin-top: 9px;
    font-size: 16px;
    line-height: 18px;
    color: #333;
}
.wiki-wrap .info-author span > em {
    color: #0982DA;
}
.wiki-wrap .info-author .tag-area > span {
    display: inline-block;
    margin-top: 0;
}
.wiki-wrap .info-author .tag-area .lst-tag {
    margin-left: 16px;
}
.wiki-wrap .info-author .tag-area {
    margin-top: 6px;
}
.wiki-wrap .tag-area .lst-tag > li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.wiki-wrap .lst-tag > li {
    margin: 12px 6px 0 0;
    border: 1px dashed #999;
    border-radius: 3px;
}

.wiki-wrap .lst-tag > li a {
    padding: 7px 14px 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333;
}
.wiki-wrap .lst-tag > li:hover {
    border-color: #0982DA;
}
.wiki-wrap .lst-tag > li a:hover {
    color: #0982DA;
}

.wiki-wrap .box-head .btn-bookmarker{
    background-color: transparent;
    margin: 3px 0 0 22px;
    font-size: 20px;
    color: #DADADA;
}
.wiki-wrap .box-head .btn-bookmarker.is-active{
    color: #0982DA;
}
.wiki-wrap .box-ct-detail .link-area{
    margin-top: 25px;
}
.wiki-wrap .box-ct-detail .link-area > li {
    margin-bottom: 14px;
}
.wiki-wrap .link-area .btn-download {
    margin-right: 7px;
    padding: 5px 14px 3px;
    background-color: #0982DA;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}
.wiki-wrap .link-area .btn-download>i {
    margin-right: 7px;
}
.wiki-wrap .link-area .txt-guide {
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}
.wiki-wrap .box-ct-detail .btn-share {
    margin-top: 10px;
    padding: 5px;
    background-color: transparent;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #0982DA;  
}
.wiki-wrap .box-ct-detail .btn-share>i {
    font-size: 14px;
    margin-right: 3px; 
}


.wiki-wrap .create-new-area .btn-wrap .btn>span {
    margin-bottom: 1px;
}

.wiki-wrap .upload-file-area .tbl-wrap {
    margin: 20px 0 0;
}

.wiki-wrap .box-ct .create-new-area {
    margin: 0 0 20px;
    border-top: 0;
}
.wiki-wrap .lst-info .col-document{
    display: flex !important;
}
.wiki-wrap .box-head .group-right .btn-evt>span {
    margin-bottom: 0;
}

.wiki-wrap .search-ct-area .lst-news {
    margin-top: 0;
}
.wiki-wrap .search-ct-area .txt-keyword {
    font-size: 16px;
    line-height: 24px;
    color: #999;
}
.wiki-wrap .search-ct-area .txt-keyword>em {
    color: #0982DA;
}
.wiki-wrap .search-ct-area .box-head {
    padding-bottom: 0;
}
.wiki-wrap .main-ct .tab-panel {
    display: none;
}
.wiki-wrap .main-ct .tab-panel.is-active {
    display: block;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .wiki-wrap .box-head .txt-border-bottom{
        display: block;
        width: 100%;
        border-bottom: 1px dashed #E8EBED;
        padding-bottom: 15px !important;
        margin-bottom: 15px;
    }

    .box-head .group-right .custom-input{
        width: 300px !important;
        font-size: 14px !important;
    }

    .wiki-wrap .lst-news .box-head{
        padding-bottom: 20px;
    }

    .wiki-wrap .private-doc .box-head .btn-create {
        position: absolute;
        top: 15px;
        right: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .wiki-wrap .side-nav .sidenav-itm a{
        padding-left: 23px;
    }

    .wiki-wrap .box-head .txt-border-bottom{
        display: block;
        width: 100%;
        border-bottom: 1px dashed #E8EBED;
        padding-bottom: 15px !important;
        margin-bottom: 15px;
    }

    .box-head .group-right .custom-input{
        width: 300px !important;
        font-size: 14px !important;
    }

    .wiki-wrap .lst-news .box-head{
        padding-bottom: 20px;
    }

    .wiki-wrap .private-doc .box-head .btn-create {
        position: absolute;
        top: 15px;
        right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .wiki-wrap .side-nav .sidenav-itm a{
        padding-left: 22px;
    }

    .wiki-wrap .box-head .txt-border-bottom{
        display: block;
        width: 100%;
        border-bottom: 1px dashed #E8EBED;
        padding-bottom: 10px !important;
        margin-bottom: 15px;
    }

    .box-head .group-right .custom-input{
        width: 235px !important;
        min-width: auto;
        font-size: 13px !important;
    }
    .main-ct .box-tbl-ct {
        overflow-x: auto;
    }

    .wiki-wrap .lst-news .box-head{
        padding-bottom: 20px;
    }

    .wiki-wrap .private-doc .box-head .btn-create {
        position: absolute;
        top: 15px;
        right: 0;
    }

    .wiki-wrap .input-area > input {
        width: 520px;
        height: 45px;
        font-size: 15px;
    }
    .wiki-wrap>.txt-head,
    .wiki-wrap .top-banner-ct .txt-tit {
        font-size: 28px;
        line-height: 32px;
    }

    .wiki-wrap .statistical-area>li {
        padding: 15px 30px;
    }
    .wiki-wrap .statistical-area>li .num {
        font-size: 28px;
        line-height: 30px;
    }
    .wiki-wrap .statistical-area>li .txt-detail {
        margin-top: 12px;
        font-size: 17px;
    }
}