<!DOCTYPE html>
@functions{
    public string GetLang()
    {
        var url = WebHelpers.HttpContext.Request.Path.Value;
        var lang = url.Split("/")[1];
        if (!string.IsNullOrEmpty(lang) && lang.Length == 2)
            return lang;
        return WebHelpers.HttpContext.Request.Cookies["LANG"];
    }
}
@if (AppSettings.GetByKeyToBool("ServerRender"))
{

    <html asp-prerender-module="ClientApp/boot-server" asp-prerender-data='new { Lang=GetLang()}'>

</html>
}
else
{
<html lang="vi">
<head>
    <title>O2Work</title>
    @Html.Partial("head")
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize">
    <input type="text" name="name" value="" style="display:none;" />
    <input type="password" name="pass" value="" style="display:none;" />
    <div id="app"></div>
    <script src="/dist/js/main-client.js" asp-append-version="true"></script>
</body>
</html>
}

